<!DOCTYPE html>
<html>
<head>
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/css">
</style>
</head>
<body>

<h1>Dev App Cloud</h1>
<h2>View menu</h2>
<p>Index</p>
<hr>
<ul style="text-align:center;display:flex">
  <li><a href="home.ejs">Home</a></li>
  <li><a href="utilisateur.ejs">Standard user</a></li>
</ul>

</body>
</html>
